################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MudHutAPISLN/.vs/MudHutAPISLN
/MudHutAPISLN/MudHutAPI/obj
/MudHutAPISLN/MudHutAPI/bin
/PublishApi
